<%= link_to "Director Index", "/directors" %>
<%= link_to "Films Index", "/films" %>

<p><%= link_to "New Director", "/directors/new" %>

<h1><b>Directors</b></h1>
  <% @directors.each do |dir| %>
    <p><b><%=link_to dir.name, "/directors/#{dir.id}" %></b></p>
    <p><%= dir.created_at %></p>
  <% end %>
