<%= form_with url: '/directors', method: :post, local: true do |form| %>
  <p><%= form.label :name %>
  <%= form.text_field :name %></p>
  <p><%= form.label :birthdate %>
  <%= form.text_field :birthdate %></p>
  <p><%= form.label :hometown %>
  <%= form.text_field :hometown %></p>
  <p><%= form.label :active? %>
  <%= form.select :active?, ["True", "False"] %></p>
  <p><%= form.label :imdb_rating %>
  <%= form.number_field :imdb_rating %></p>
  <%= form.submit "Create Director" %>
<% end %>
