<a href="/directors">Director Index</a>

<h3><%= @director.name %></h3>

  <p>Birthdate: <%= @director.birthdate %></p>
  <p>Hometown: <%= @director.hometown %></p>
  <p>Active? <%= @director.active %></p>
  <p>IMDB Rating: <%= @director.imdb_rating %></p>
