<a href="/directors">Director Index</a>
<%= link_to "Films Index", "/films" %>

<h3><%= @director.name %></h3>

  <p>Birthdate: <%= @director.birthdate %></p>
  <p>Hometown: <%= @director.hometown %></p>
  <p>Active? <%= @director.active %></p>
  <p>IMDB Rating: <%= @director.imdb_rating %></p>

<p>Films by <%= @director.name %>: <%= @director.count_films %></p>
