<%= link_to "Director Index", "/directors" %>
<%= link_to "Films Index", "/films" %>
<%= link_to "Add Film", "/directors/#{@director.id}/films/new"  %>

<% @films.each do |film| %>
<%= link_to "Edit #{film.title}", "/films/#{film.id}/edit" %>
  <h3>Title: <%= film.title %></h3>
  <p>Oscar nominated? <%= film.oscar_nominated %></p>
  <p>Oscar wins: <%= film.oscar_wins %></p>
  <p>Budget: <%= film.budget %></p>
  <p>Revenue: <%= film.revenue %></p>
  <p>Release Date: <%= film.release_date %></p>
<% end %>

<%= link_to "Alphabetize Films", sort: "alphabetical" %>

<%= form_with url: "/directors/#{@director.id}/films/", method: :get, local: true do |form| %>
  <%= form.label :oscar_wins, "Oscar Wins" %>
  <%= form.number_field :oscar_wins %>
  <%= form.submit "Only show films with more than this many Oscar wins!" %>
<% end %>
