<%= form_with url: "/directors/#{@director.id}/films", method: :post, local: true do |form| %>
  <p><%=form.label :title %>
  <%=form.text_field :title %></p>
  <p><%=form.label :oscar_nominated %>
  <%=form.select :oscar_nominated, ["True", "False"] %></p>
  <p><%=form.label :oscar_wins %>
  <%=form.number_field :oscar_wins %></p>
  <p><%=form.label :budget %>
  <%=form.number_field :budget %></p>
  <p><%=form.label :revenue %>
  <%=form.number_field :revenue %></p>
  <p><%=form.label :release_date %>
  <%=form.text_field :release_date %></p>
  <%=form.submit "Add Film" %>
<% end %>
